<div class="container">
  <div class="heading">
    <span>Practitioner</span>
    <span class="name">{{name}}</span>
    <span>- practices at sites</span>
  </div>
  <div>
    <div *ngFor="let info of info?info['PracticesAt']?.split(','):info">{{info + ","}}</div>
    <div>Phone: {{info?info['ContactDetails']['PersonalPhoneNumber']:''}},</div>
    <div>Email: {{info?info['ContactDetails']['PersonalEmail']:''}}</div>
  </div>
  <div class="add-extra">
    <button color="warn"
      mat-raised-button
      type="submit">Add practicing with others at...</button>
    <button color="warn"
      mat-raised-button
      type="submit">Add new practice...</button>
  </div>
</div>