#form-container {
  padding: 20px;
}

.full-width {
  display: block;
  width: 40%;
}

.submit-btn {
    background-color: #519CBC;
    color: white;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.heading {
  margin: 20px 0;
}

mat-checkbox {
  margin: 15px 20px;
}

.area-width {
  display: block;
  width: 50%;
}

textarea.value2 {
  border-bottom: 2px solid green !important;
}
textarea.value1 {
  border-bottom: 2px solid orange!important;
}
textarea.value0 {
  border-bottom: 2px solid red !important;
}